/* -------------------- jQuery ToDo App -------------------- */

/* ----------------------------------------
  Normalize css minified
---------------------------------------- */  
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box}*,:after,:before {-webkit-box-sizing:inherit;box-sizing:inherit;margin:0;padding:0}article,aside,footer,header,main,nav,section{display:block}a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration:none}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}

/* ----------------------------------------
  Global styles
---------------------------------------- */  
body {
  font: 400 113% 'Roboto', sans-serif;
  color: #6b6b6b;
  background-image: linear-gradient(to right, #26b8e0 0%, #e8eabe 100%);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5);
  font-size: 4rem;
  padding: 1em;
  color: black;
}

/* ----------------------------------------
  Todo app styles
---------------------------------------- */  
.appcontainer {
  background: white;
  width: 400px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.appcontainer h2 {
  background: #2980E9;
  color: white;
  padding: 0.5em 0.8em;
  text-transform: uppercase;
  font-weight: 500;
}

.fa-plus {
  float: right;
  cursor: pointer;
}

input[type="text"] {
  padding: 0.8em 1.1em;
  width: 100%;
  color: #2980E9;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  border: 0;
  background: #d6e9ff;
}

input[type="text"]:focus {
  background: #ffffff;
  outline: none;
  border: 3px solid #2980E9;
}

.appcontainer__list {
  list-style-type: none;
}

.appcontainer__item {
  height: 45px;
  line-height: 45px;
}

.appcontainer__item:nth-child(even) {
  background: rgb(235, 235, 235);
}

.appcontainer__item span {
  background: #e74c3c;
  height: 45px;
  width: 0;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  color: white;
  opacity: 0;
  transition: 0.2s linear;
  cursor: pointer;
}

li:hover span {
  width: 45px;
  opacity: 1;
}

.strikeTx {
  text-decoration: line-through;
}

/* ----------------------------------------
  Media queries
---------------------------------------- */  
@media screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }

  .appcontainer {
    width: 320px;
  }
}